.search-user-item {
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Roboto';
    border-bottom: 1px solid;
}