.follow-button {
    position: absolute;
    margin-left: 215px;
    margin-top: 20px;
    width: 110px;
    height: 15px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    cursor: pointer;
}