@import '../../_variables.scss';

.follow-button {
    position: absolute;
    top: 20px;
    right: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 30px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    color: map_get($colors, "light");;
    background-color: map_get($colors, "dark");
    cursor: pointer;
    transition-duration: 200ms;
    &:hover {
        color: map_get($colors, "dark");;
        background-color: map_get($colors, "light");
        border: 1px solid map_get($colors, "dark");
    }
}