@import '../../_variables.scss';

.app-baner {
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    .app-title {
        color: map_get($colors, "light");
        font-family: 'Roboto';
        font-size: 26px;
        margin-left: 25px;
    }
}