@import '../../_variables.scss';

a {
    text-decoration: none;
    color: unset;
}

.user-panel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 75px;
    height: 45px;
    font-family: 'Roboto';
    font-size: 13px;
    color: map_get($colors, "light");
    background: none;
    padding: 0 10px;
    cursor: pointer;
    &:active {
        color: rgba(255, 255, 255, 0.75);
    }
}