@import '../../_variables.scss';

.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map_get($colors, "dark");
    .title {
        font-size: 29px;
        font-family: 'Roboto';
        color: map_get($colors, "light");
        margin-left: 20px;
    }
}