@import '../../_variables.scss';

.user-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 720px;
    height: 40px;
    padding: 0 20px;
    background-color: map_get($colors, "dark");
    margin-top: 35px;
}

.filtered-users {
    position: relative;
    bottom: 4px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 155px;
    background-color: map_get($colors, "light");
    border: 1px solid map_get($colors, "border");
}