@import '../../_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.post-popup {
    width: 950px;
    height: 420px;
    display: flex;
    margin-top: 175px;
    font-family: 'Roboto';
    .image-section {
        width: 650px;
        height: 100%;
        background-color: #E7E7E7;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
            .message-overlay {
                display: flex;
            }
        }
        .message-overlay {
            display: none;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.45);
        }
    }
    .user-section {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100%;
        color: #000000;
        background-color: #FFFFFF;
        .author {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            border-bottom: 1px solid map_get($colors, "post_border");
            padding-left: 10px;
            .author-username {
                width: 190px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .navigation {
                width: 60px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                svg {
                    cursor: pointer;
                    margin-right: 15px;
                }
            }
        }
        .comments {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 300px;
            border-bottom: 1px solid map_get($colors, "post_border");
            padding-top: 10px;
            padding-left: 10px;
            overflow-wrap: break-word;
            overflow-y: auto;
            overflow-x: hidden;
            .comment {
                width: 100%;
                display: flex;
                margin-bottom: 10px;
                .content {
                    font-weight: 300;
                    margin-left: 5px;
                }
            }
        }
        .post-stats {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 40px;
            border-bottom: 1px solid map_get($colors, "post_border");
            padding: 0 45px;
            .stat {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 50px;
                height: 30px;
                svg, span {
                    cursor: pointer;
                }
            }
        }
        .upload-comment {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 40px;
            padding: 0 10px;
            input {
                width: 90%;
                height: 29px;
                font-size: 16px;
                font-family: 'Roboto';
                background: inherit;
                border: none;
                outline: none;
            }
            svg {
                cursor: pointer;
            }
        }
    }
}


@media (max-width: 800px) {
    .overlay {
        .post-popup {
            width: 95%;
            margin-top: 100px;
            .image-section {
                width: 55%;
            }
            .user-section {
                width: 45%;
                .author {
                    .author-username {
                        width: 50%;
                        font-size: 14px;
                        span {
                            margin-left: 5px;
                        }
                    }
                }
                .comments {
                    font-size: 14px;
                }
                .post-stats {
                    padding: 0 15px;
                }
                .upload-comment {
                    input {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}